**Data Scaling**

In [3]:
#predicting something we can not train our model just using parametres with not same range.
#For exmaple: house age (range:10-100) and population of location(range: 50000-329000). 
#In this case, population parametre will dominate, so that way we should scale our data

import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('data.csv')

In [6]:
data.head()

,Date,Price (All),Change (All),Price (New),Change (New),Price (Modern),Change (Modern),Price (Older),Change (Older)
0,1952-11-01,1891,0.0,2107,0.0,2020,0.0,1524,0.0
1,1953-02-01,1891,0.0,2107,0.0,2002,0.0,1542,0.0
2,1953-05-01,1891,0.0,2107,0.0,2002,0.0,1542,0.0
3,1953-08-01,1881,0.0,2117,0.0,2002,0.0,1524,0.0
4,1953-11-01,1872,-1.0,2117,0.5,1975,-2.2,1542,1.2

In [7]:
from sklearn.preprocessing import MinMaxScaler

**Preprocessing Data**

In [13]:
data = data.drop(['Change (All)', 'Change (New)', 'Change (Modern)', 'Change (Older)'], axis = 1)

In [16]:
data = data.dropna(axis = 0)
data

     Price (New)  Price (Modern)  Price (Older)
0           2107            2020           1524
1           2107            2002           1542
2           2107            2002           1542
3           2117            2002           1524
4           2117            1975           1542
..           ...             ...            ...
256       218725               0              0
257       216824               0              0
258       223315               0              0
259       224273               0              0
260       233723               0              0

[261 rows x 3 columns]

In [17]:
#using scaling part only after preprocessing: removing categorical data and null values

scaler = MinMaxScaler()
scaler.fit(data)

MinMaxScaler()

In [19]:
scaled_data = pd.DataFrame(data = scaler.transform(data), columns = data.columns, index = data.index)

In [20]:
scaled_data.head()

   Price (New)  Price (Modern)  Price (Older)
0     0.000000        0.011262       0.007582
1     0.000000        0.011162       0.007671
2     0.000000        0.011162       0.007671
3     0.000043        0.011162       0.007582
4     0.000043        0.011011       0.007671